doctype html
html
  head
    title= title
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./bootstrap/css/bootstrap.css">
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link rel="stylesheet" type="text/css" href="./stylesheets/vacunAssist.css">
    <script src="./jquery/jquery.js"></script>
  body

    <!--- nabvar --->
    <div class="container-fluid">
      <div class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid" id="navbar">
            <a class="navbar-brand">
              <img src="./images/VacunAssistimg.jpeg" onclick="document.forms[`inicio`].submit();" style="width: 8vw; height: 12vh;">
            </a>
            <form id="inicio" method="get" action="./inicioPaciente"></form>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <form class="d-flex">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active">
                      <img src="./images/perfilimg.png" onclick="document.forms[`misdatos`].submit();" style="width: 8vw; height: 12vh;">
                    </a>
                  </li>
                </ul>
            </form>
            <form id="misdatos" method="get" action="./misDatos"></form>
          </div>
        </nav>
      </div>
      <br><br><br><br><br><br>


    block content

    <!--- footer --->
    <footer>
      <div class="fixed-bottom">
        <nav class="navbar fixed-bottom navbar-light bg-light">
          <div class="container-fluid">
            <div class="navbar-brand" href="#">Centros de vacunacion:</div>
            <span> 1 Zona terminal</span><br>
            <span>2 Plaza Moreno</span><br>
            <span>3 Zona cementerio</span><br>
          </div>
        </nav>
        
      </div>
    </footer>

      <script src="./bootstrap/js/bootstrap.bundle.js"></script>

      block script

    </div>