extends layout 

block content
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-10">
        <h1 class="text-center">Registro exitoso</h1>
      </div>
    </div>
  <br><br><br>
  <div class="col=8">
        <div class="col-8">
            <h5> Este es su token generado automaticamente: </h5>
            <h5> Por favor guardelo. Sera necesario para iniciar sesión. </h5>
            //agregar token,traerme idPaciente.token
        </div>
        <br><br><br>
        <div class="col-8">
            <a href="./" class="btn btn-success" role="button"> Volver al inicio </a>
        </div>
  </div>
    
     