extends layoutSinlog

block content

  <div class="row"><div class="col-3"></div>
    <div class="col-6">
      <h1>Registrarse</h1>
    </div>
  </div>

  <div class="row"><div class="col-12">&nbsp;</div></div>

  <div class="row">
    <div class="col-1 col-md-3"></div>
    <div class="col-10 col-md-6">

      <form method="post" action="./registroPasoDos" id="formulario">
        <div class="form-group">
          <div class="row align-items-center">

            <div class="col-10"><h5>Informaci&oacute;n B&aacute;sica:</h5></div>
            <div class="col-12">&nbsp;</div>

            <div class="col-12 col-md-3"><label>Nombre:</label></div>
            <div class="col-12 col-md-7"><input name="nombre" type="text" class="form-control" id="nombre" required="required"/></div>
            <div class="col-12">&nbsp;</div>
            <div class="col-12 col-md-3"><label>Apellido:</label></div>
            <div class="col-12 col-md-7"><input name="apellido" type="text" class="form-control" id="apellido" required="required"/></div>
            <div class="col-12">&nbsp;</div>
            <div class="col-12 col-md-3"><label>DNI:</label></div>
            <div class="col-11 col-md-7"><input name="dni" type="number" class="form-control" id="dni" required="required"/></div>
            <div class="col-1 col-md-2"><input type="button" value="?" class="btn btn-secondary" title="S&oacute;lo n&uacute;meros sin puntos."/></div>
            <div class="col-12">&nbsp;</div>
            <div class="col-12 col-md-3"><label>Fecha Nacimiento:</label></div>
            <div class="col-11 col-md-7"><input name="fechaNac" type="text" class="form-control" id="fechaNac" required="required"/></div>
            <div class="col-1 col-md-2"><input type="button" value="?" class="btn btn-secondary" title="Debe estar en formato DD/MM/AAAA y no ser una fecha futura."/></div>
            <div class="col-12">&nbsp;</div>

            <div class="col-12 col-md-3"><label>G&eacute;nero:</label></div>
            <div class="col-12 col-md-7">
              <select name="genero" class="form-control" id="genero" required="required">
                <option value="" selected="selected">Seleccione uno</option>
                <option value="F">Femenino</option>
                <option value="M">Masculino</option>
                <option value="N">No Binario</option>
              </select>
            </div>

            <div class="col-12">&nbsp;</div>

            <div class="col-12 col-md-3"><label>Centro Preferencia:</label></div>
            <div class="col-12 col-md-7">
              <select name="centro" class="form-control" id="centro" required="required">
                <option value="" selected="selected">Seleccione uno</option>
                <option value="1">Plaza Moreno</option>
                <option value="2">Zona Terminal</option>
                <option value="3">Zona Cementerio</option>
              </select>
            </div>

            <div class="col-12">&nbsp;</div>
            <div class="col-10"><h5>Estos ser&aacute;n sus datos de usuario:</h5></div>
            <div class="col-12">&nbsp;</div>

            <div class="col-12 col-md-3"><label>E-Mail:</label></div>
            <div class="col-12 col-md-7"><input name="email" type="email" class="form-control" id="email" required="required"/></div>
            <div class="col-12">&nbsp;</div>
            <div class="col-12 col-md-3"><label>Contrase&ntilde;a:</label></div>
            <div class="col-11 col-md-7"><input name="clave" type="password" class="form-control" id="clave" required="required"/></div>
            <div class="col-1 col-md-2"><input type="button" value="?" class="btn btn-secondary" title="Debe contener entre 8 y 32 caracteres, al menos una min&uacute;scula, una may&uacute;scula y un n&uacute;mero."/></div>
            <div class="col-12">&nbsp;</div>
            <div class="col-12 col-md-3"><label>Repita la Contrase&ntilde;a:</label></div>
            <div class="col-12 col-md-7"><input name="clave2" type="password" class="form-control" id="clave2" required="required"/></div>
            <div class="col-12">&nbsp;</div>

            <div class="col-12 col-md-3"></div>
            <div class="col-12 col-md-7">
              <input type="submit" class="btn btn-outline-success" value="Siguiente Paso" class="form-control"/>&nbsp;
              <button type="button" class="btn btn-outline-danger" onclick="document.forms[`cancelar`].submit();">Cancelar</button>
            </div>
          </div>
        </div>
      </form>

      <form id="cancelar" method="post" action="./"></form>

    </div>
    <div class="col-1 col-md-3"></div>

    <script src="./javascripts/validarRegistroPasoUno.js"></script>