extends layout 

block content 
    <div class="container-fluid">
        //consulta a BD Vacunas aplicadas => fiebre amarilla??
        //si no la tiene: asignar fecha
        //si la tiene: informar situacion
        //estado pendiente
    </div>